$main-bg-color: #f8f9f9;
$white-bg-color: #ffffff;
$para-tx-color: #7b8bad;
$brand-main-bg: #efbe8a;
$white-tx: #ffffff;
$heading-tx-color: #162542;
$decor-element-color: #E8EFF2;
$tx-hover-dark-color: darkred;
