@import "./abstract/variables";

#main {
	scroll-behavior: smooth;
}

body {
	font-family: Georgia;
	background-color: $main-bg-color;
}

a {
	text-decoration: none;
}

@keyframes load {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

img {
	width: 100%;
	height: 220px;
	transition: transform 1s;
	object-fit: cover;
}

#img {
	width: 90%;
	height: 50%;
	overflow: hidden;
	opacity: 0;
	animation: load 2s forwards;
	animation-play-state: paused;
}

#img:hover img {
	transform: scale(1.25);
}

#welcome-section {
	height: 100vh;
	background-image: url(/image/background.jpg);
	background-size: cover;
}

#navbar {
	display: none;
	justify-content: flex-end;
	background-color: $brand-main-bg;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

#links-group {
	display: flex;
	font-size: 1.2rem;
	margin: 0.75em 1em 0.75em 0;
}

#links-group > a {
	padding: 0 0.5em 0;
	color: #1f2326;
}

#links-group > a:hover {
	color: $tx-hover-dark-color;
}

#welcome-section {
	height: 100vh;
}
.video-background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
#greeting {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $brand-main-bg;
}

#greeting > h1 {
	font-size: clamp(1.5rem, 3vw, 4rem);
}

.container-aboutMe {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #d6dbdf;
	margin-top: 3em;
	padding: 3rem;
	width: 90%;
	max-width: 850px;
}

.header {
	margin: 2em auto 1.5em;
	text-align: center;
	font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.sub-header {
	font-size: clamp(1.3rem, 1.4vw, 1.9rem);
	margin-bottom: 0.7em;
}

.paragraph {
	text-align: justify;
	font-size: clamp(1rem, 1.25vw, 1.75rem);
}
.paragraph-container {
	margin: 2rem 0;
	.sub-header {
		color: $brand-main-bg;
		font-weight: bold;
	}
}

#projects,
#advantages {
	padding: 3rem;
}

#project-item {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 2rem 1rem ;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #d6dbdf;
  padding: 1.5rem;
	.link-style {
		color: $brand-main-bg;
	}
}

#project-item > header {
	margin: 1rem 0;
	font-size: clamp(1.2rem, 1.25vw, 1.75rem);
}

#project-item button {
	margin: 1rem 0;
	font-size: clamp(1rem, 1.1vw, 1.25rem);
	color: $brand-main-bg;
	border: 1.5px solid  $brand-main-bg;
	&:hover {
		color: $white-tx;
		background-color: $brand-main-bg;
	}
}

#project-item > a {
	color: $tx-hover-dark-color;
	font-size: clamp(1rem, 1.1vw, 1.25rem);
}

#project-item > a:hover {
	color: $brand-main-bg;
	text-decoration: underline;
}

#description {
	margin-top: 1rem;
	font-size: clamp(1rem, 1.1vw, 1.25rem);
	min-height: 210px;
	padding: 0 15px;
	// align-self: flex-start;	
}

.description-title {
	text-align: center;
}

#contact {
	display: flex;
	justify-content: space-around;
	background-color: $brand-main-bg
}

#button {
	margin: 0.5rem 1rem 1.5rem;
}

#button:hover {
	opacity: 0.85;
}

#footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $brand-main-bg;
	padding: 2rem 0 0.5rem 0;
	#contact-list {
		display: flex;
		align-items: center;
	}
	.h6 {
		margin-top: 1rem;
	}
}

#contact-list > a {
	margin-right: 1.25rem;
	color: #183a1d;
}

#contact-list > a:hover {
	transform: translateY(-0.3rem);
}

@media only screen and (max-width: 450px) {
	#navbar {
		opacity: 0.9;
	}

	#links-group {
		flex-direction: column;
		text-align: center;
		margin: 0.5em 0;
	}
}

@media only screen and (max-width: 600px) {
	#contact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#form-container {
		width: 50vw;
	}

	#navbar {
		justify-content: center;
	}
}
